html {
	min-height: 100vh;
}

body {
	background-color: black;
	background-image: url(../images/bg_night.webp);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

	font-family: "Red Hat Text", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	color: white;

	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.size-limiter {
	margin: auto;
	padding: 0 2em;
	max-width: 80em;
}

.flex-fill{
	flex: 1;
}

header {
	background-color: #111111;
	position: fixed;
	width: 100%;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

nav a {
	font-family: "Lugrasimo", cursive;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;

	padding: 1em;
	text-align: center;
	display: flex;
    align-items: center;
}

nav a:hover {
	background-color: #333333;
}

a:link {
	color: pink;
}

a:visited {
	color: pink;
}

a:hover {
	color: yellow;
}

a:active {
	color: orange;
}

.hero {
	margin-top: 3em;
	padding: 10em 0;
	text-align: center;
}

h1 {
	font-family: "Lugrasimo", cursive;
	font-weight: 400;
	font-style: normal;

	font-size: 5em;
	margin: 0;
	margin-bottom: 0.25em;
}

h2 {
	margin: 0;
	font-weight: normal;
}

.content {
	background-color: #222222;
	padding: 2em;
	margin-bottom: 10em;

	line-height: 1.4;
}

footer {
	background-color: #111111;
	color: #AAAAAA;
	font-size: 1em;
}

.footer-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.footer-item {
	flex: 1;
	min-width: 200px;
	padding: 2em 0;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer-item h2 {
	margin-top: 0;
	margin-bottom: 0.2em;
}

.footer-item a {
	margin: 0.2em 0;
}

footer hr {
	margin: 0;
	border: 0;
	border-top: 2px solid #333333;
}

.credits {
	padding: 2em 0;
}

footer p{
	margin: 0;
}
