html {
	min-height: 100vh;
}

body {
	background-color: black;
	color: white;
	font-family: sans-serif;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: #222222;
	position: fixed;
	width: 100%;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

nav a {
	padding: 1em;
	text-align: center;
	display: flex;
    align-items: center;
}

nav a:link {
	color: pink;
}

nav a:visited {
	color: pink;
}

nav a:hover {
	color: yellow;
	background-color: #333333;
}

nav a:active {
	color: orange;
}

.hero {
	margin-top: 3em;
	padding: 10em 0em;
	text-align: center;
}

h1 {
	font-size: 4em;
	margin: 0em;
}

.content {
	background-color: #111111;
	padding: 1em;
}

footer {
	background-color: #222222;
	color: #AAAAAA;
	font-size: 1em;
	padding: 2em 0em;
}

footer p{
	margin: 0em;
}

.size-limiter {
	margin: auto;
	max-width: 80em;
}

.flex-fill{
	flex: 1;
}